<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>		<add name="ai_sqlite"
		connectionString="Data Source=C:\prj\ai\databases\sqlite\ai.db; Version=3;"
		providerName="System.Data.SQLite"
		/>
		<add name="ai_postgres"
		connectionString="postgres://postgres: @localhost/ai"
		providerName="System.Data.SQLite"
		/>
		<add name="ai_mysql"
		connectionString="Server=localhost;Database=ai;Uid=root;Pwd=ASdsds;"
		providerName="MySqlConnector"
		/>
	</connectionStrings>
</configuration>
